.robot__list {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  height: 40rem;
}

@media only screen and (min-width: 56.25em ) {
  .robot__list {
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    overflow-x: visible;
  }
}
