.card {
  cursor: pointer;
  background-image: linear-gradient(
    to right,
    rgb(201, 167, 63),
    rgb(207, 82, 82)
  );
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem;
  flex: 0 0 auto;
  transition: all .2s;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.card:first-child {
  margin-left: 0;
}

.card:hover {
  transform: translateY(-.3rem);
}

.card img {
  width: 100%;
  margin-bottom: 2rem;
}

.card__name {
  font-size: 2.4rem;
}

.card__email {
  font-size: 2rem;
}
