.header {
  background-color: var(--color-primary-1);
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

@media only screen and (min-width: 37.5em) {
  .header {
    justify-content: flex-start;
  }
}


.header__link,
.header__link:link,
.header__link:visited {
  color: var(--color-primary-2);
  cursor: pointer;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: impact;
  letter-spacing: .2rem;
  padding: 1rem 2rem;
}
