.app__heading {
  font-family: impact;
  text-align: center;
  background-image: linear-gradient( rgb(201, 167, 63),
    rgb(207, 82, 82));
  -webkit-background-clip: text;
  color: transparent;
  font-size: 5rem;
}
